<!-- app/views/schedules/show.html.erb -->
<h1>予定詳細</h1>
<p>タイトル: <%= @schedule.title %></p>
<p>開始日: <%= @schedule.start_date.strftime('%Y/%m/%d') %></p>
<p>終了日: <%= @schedule.end_date.strftime('%Y/%m/%d') %></p>
<p>終日: <%= @schedule.all_day ? '○' : '' %></p>
<p>スケジュールメモ: <%= @schedule.memo %></p>
<%= link_to '一覧に戻る', schedules_path %>
<%= link_to '編集', edit_schedule_path(@schedule) %>
