<!DOCTYPE html>
<html>
  <head>
    <title>RailsReservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>宿泊予約アプリ</h1>
      <nav>
       <% if user_signed_in? %>
        <div>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <%= link_to current_user.name,user_path(current_user) %>
        </div>
       <% else %>
        <ul>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to '新規登録', new_user_registration_path %></li>
        </ul>
       <% end %>
      </nav>
    <%= yield %>
  </body>
</html>
